.Footer-content {
  display: flex;

  div {
    border: 1px solid $light-gray;
    padding: 1em;
  }

  div:first-child {
    flex: 1;
  }

  div:last-child {
    flex: 2;
  }
}

.Footer-copyright {
  text-align: center;
  /* margin-top: 1em; */
}
